body, html {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Calibri, Helvetica, Arial, sans-serif;
    min-width: 500px;
}

nav.homepage {
    width: 30%;
    padding: 5px;
    height: 30px;
    background-color: #01796f;

    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
nav a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #7a2121;
    text-transform: uppercase;
}
.homepage:hover {
    background-color: #0000ff;
}

.homepage:active {
    background-color: #ef0f0f;
}
